/*--------------------------------------------------------------
## All Variables
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --primary: #303030;
  --secondary: #636363;
  --ternary: rgba(99, 99, 99, 0.5);
  --accent: #e61f7f;
  --accent-strong: #583fa8;
  --gray: #f2f2f2;
  --accent-light: #faeff2;
  --border: rgba(99, 99, 99, 0.3);
  --primary-font: 'Barlow', serif;
  --secondary-font: 'Prompt', sans-serif;
}
